{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Fontawesome icon pack -->
    <link rel="stylesheet" href="{% static 'css/brands.css' %}" />


    <!-- Bootstrap JS-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        //function that display value
        function display(val) {
            document.getElementById("result").value += val
        }

        //function that evaluates the digit and return result
        function calculate() {
            let x = document.getElementById("result").value
            let y = eval(x)
            document.getElementById("result").value = y
        }

        //function that clear the display
        function clr() {
            document.getElementById("result").value = ""
        }
    </script>


    <title>Calculator</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">eCalc.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-0 mb-0 px-0">
        <table class="calculator">
            <tr>
                <td colspan="3"> 
                    <input type="text" class="display-box" id="result" disabled>
                <!-- clearScreen() function clear all the values -->
                <td> <button type="button" class="btn btn-primary" value="C" onclick="clr()">CE</button> </td>
            </tr>
            <tr>
                <!-- display() function display the value of clicked button -->
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="1" onclick="display('1')"> 1
                    </button></td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="2" onclick="display('2')"> 2
                    </button></td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="3" onclick="display('3')"> 3
                    </button></td>
                <td> <button type="button" class="btn btn-success btn-lg btn-block" value="/" onclick="display('/')"> / </button></td>
            </tr>
            <tr>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="4" onclick="display('4')"> 4
                    </button></td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="5" onclick="display('5')"> 5
                    </button></td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="6" onclick="display('6')"> 6
                    </button></td>
                <td> <button type="button" class="btn btn-success btn-lg btn-block" value="-" onclick="display('-')"> - </button></td>
            </tr>
            <tr>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="7" onclick="display('7')">7</button>
                </td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="8" onclick="display('8')">8</button>
                </td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="9" onclick="display('9')">9</button>
                </td>
                <td> <button type="button" class="btn btn-success btn-lg btn-block" value="+" onclick="display('+')">+</button></td>
            </tr>
            <tr>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="." onclick="display('.')">.</button>
                </td>
                <td> <button type="button" class="btn btn-outline-secondary btn-lg btn-block" value="0" onclick="display('0')">0</button>
                </td>
                <!-- calculate() function evaluate the mathematical expression -->
                <td> <button type="button" class="btn btn-success btn-lg btn-block" value="=" onclick="calculate()">=</button></td>
                <td> <button type="button" class="btn btn-success btn-lg btn-block" value="*" onclick="display('*')">X</button></td>
            </tr>
        </table>
    </div>

    <footer class="fixed-bottom">

        <div class="text-center container p-4 pb-0">

            <section class="mb-4">

                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1 rounded-circle" 
                    target="_blank" href="https://facebook.com/urs.santoshh" role="button" data-bs-toggle="button">
                    <b class="fa-brands fa-facebook-f"></b>
                </a>
                
                
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1 rounded-circle" 
                    target="_blank" href="https://twitter.com/urs_santoshh" role="button" data-bs-toggle="button">
                    <b class="fa-brands fa-twitter"></b>
                </a>

                <!-- Spotify -->
                <a class="btn btn-success btn-floating m-1 rounded-circle"
                    target="_blank" href="https://open.spotify.com/user/21xesiekdg6lsoqift3o6o2vi" role="button" data-bs-toggle="button">
                    <b class="fa-brands fa-spotify"></b>
                </a>

                <!-- Instagram -->
                <!--<a class="btn btn-primary btn-floating m-1 rounded-circle" style="background-color: #ac2bac;" target="_blank" href="#!"
                    role="button">
                    <i class="fa-brands fa-instagram"></i>
                </a> -->

                <!-- Linkedin -->
                <a class="btn btn-primary btn-floating m-1 rounded-circle" style="background-color: #0082ca;" target="_blank" href="https://www.linkedin.com/in/santosh-timalsina-a379b9228/" role="button">
                    <b class="fa-brands fa-linkedin-in"></b>
                </a>

                <!-- Github -->
                <a class="btn btn-dark btn-floating m-1 rounded-circle" 
                    target="_blank" href="https://github.com/urs-santoshh" role="button">
                    <b class="fa-brands fa-github"></b>
                </a>

            </section>

        </div>

        <div class="">
            <p class="bg-dark text-light text-center py-2 my-0">
                &copy;urs-santoshh | All rights reserved
            </p>
        </div>
    </footer>




</body>

</html>